{% extends 'main.html' %}

{% load staticfiles %}

{% block content %}

<section>
    <nav>
      <img src="https://www.nasa.gov/sites/default/files/thumbnails/image/nasa-logo-web-rgb.png" alt="">
    </nav>
    <h1>
      Sobre
    </h1>
</section>
<div>
  <img src="https://cdn.pixabay.com/photo/2011/12/14/12/21/orion-nebula-11107_960_720.jpg" alt="">
</div>
<aside>
  <h2>O que é a Nasa?</h2>
  <p>A National Aeronautics and Space Administration (NASA) ou Administração Nacional da Aeronáutica e Espaço é uma
    agência do Governo Federal dos Estados Unidos responsável pela pesquisa e desenvolvimento de tecnologias e programas
    de exploração espacial.</p>;
</aside>
{% endblock %}